Environment                         环境检测
Environment/Dependency              运行依赖
Environment/CANNInstall             CANN安装卸载
ApplicationDev                      应用开发
ApplicationDev/Basic                基础功能
ApplicationDev/aclnn                算子加速库
ApplicationDev/media                媒体处理
ApplicationDev/DevTools             开发工具
Kernel                              算子
Kernel/Compile                      算子编译
Kernel/Develop                      算子开发
Model                               模型开发
Model/Compile                       模型编译
Model/Tuning                        模型调优
Model/HCCL                          集合通信
IntegrationTest                     集成测试
IntegrationTest/ATB                 ATB
IntegrationTest/OfflineInference    离线推理